<div class="col-xs-6"> 
<h3>Advisor 1</h3> 

<table class="table"> 
	<tbody> 
		<tr>
			<td>{{ a.Info['@firstNm'] }} {{a.Info['@lastNm']}}</td>
		</tr> 
		<tr> 
			<td><font size="24">{{ a.score}}</font>Rating <a data-toggle="tooltip" data-placement="top" title="This score is calculated based on experience and ethical history."><span class="glyphicon glyphicon-question-sign"></span></a></td>
		</tr>	
	</tbody>
</table>		

</div> 
<div class="col-xs-6"> 
<h3>Advisor 2</h3>

<table class="table striped"> 
	<tbody> 
		<tr>
			<td>{{ b.Info['@firstNm'] }} {{b.Info['@lastNm']}}</td>
		</tr>
		<tr> 
			<td><font size="24">{{b.score}}</font>Rating  <a data-toggle="tooltip" data-placement="top" title="This score is calculated based on experience and ethical history."><span class="glyphicon glyphicon-question-sign"></span></a></td>
		</tr>	 
	</tbody>
</table> 


</div> 