<div class="container"> 
<div class="row">	
<div class="col-md-8 col-md-offset-2"> 
<h1 class="page-header">Comparison</h1>

<table class="table table-striped"> 
	<thead>
		<tr>
			<th>Advisor</th> 
			<th>{{ a.name }}</th>
			<th>{{ b.name }}</th>
		</tr> 
	</thead>
	<tbody> 
		<tr>
			<td>Rating</td> 
			<td><font size="24">{{ a.rating }}</font>Rating <a data-toggle="tooltip" data-placement="top" title="This score is calculated based on experience and ethical history."><span class="glyphicon glyphicon-question-sign"></span></a></td> 
			<td><font size="24">{{ b.rating }}</font>Rating  <a data-toggle="tooltip" data-placement="top" title="This score is calculated based on experience and ethical history."><span class="glyphicon glyphicon-question-sign"></span></a></td>
		</tr> 
		<tr> 
			<td>Employer</td> 
			<td>{{ a.employer }}</td>
			<td>{{ b.employer }}</td> 
		</tr>
		<tr> 
			<td>Current Registrations</td>
			<td>
				<ul>
					<li ng-repeat="reg in a.regs">{{reg }}</li>
				</ul>
			</td>
			<td>
				<ul>
					<li ng-repeat="reg in b.regs">{{ reg }}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Years of Experience</td> 
			<td>{{a.exp}}</td>
			<td>{{b.exp}}</td> 
		</tr>
		<tr> 
			<td>Exams</td> 
			<td>
				<ul> 
					<li ng-repeat="exam in a.exams">{{exam}}</li> 
				</ul>
			</td> 
			<td> 
				<ul> 
					<li ng-repeat="exam in b.exams">{{exam}}</li> 
				</ul> 
			</td> 	
		</tr> 
		<tr> 
			<td>DRPs</td> 
			<td>
				<ul> 
					<li ng-repeat="DRP in a.DRPs">{{DRP.key}}: {{DRP.val}}</li> 
				</ul> 
			</td> 
			<td>
				<ul> 
					<li ng-repeat="DRP in b.DRPs">{{DRP.key}}: {{DRP.val}}</li> 
				</ul> 
			</td>
		</tr>  
	</tbody>
</table> 

</div> 
</div>
</div>


