<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 class="bolded">Choose your advisors wisely.</h1>
          <h3 class="bolded">Compare FINRA-registered investment professionals to find one you can trust.</h3>
          <hr class="intro-divider">

          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control input-lg" ng-model="advisor.a" placeholder="Enter name"
                typeahead="advisor.name for advisor in advisors | filter:$viewValue | limitTo:8"
                typeahead-on-select="onSelectA($item)" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-lg" ng-model="advisor.b" placeholder="Enter name"
                typeahead="advisor.name for advisor in advisors | filter:$viewValue | limitTo:8"
                typeahead-on-select="onSelectB($item)" />
            </div>
          </form>
          <br />
          <button class="btn btn-lg btn-primary" ng-click="compare()">Compare advisors</button>

          <br />
          <img src="/img/finra.png" />
          <img src="/img/bluemix.png" />

        </div>
      </div>
    </div>

  </div>

</div>

