<div class="container">
  <div class="row">
    <table class="table striped"> 
    	<thead> 
    		<tr> 
    			<th>First Name</th> 
    			<th>Last Name</th>
    			<th>Score</th> 
    		</tr> 
    	</thead> 
    	<tbody> 
      		<tr ng-repeat="iapd in iapds | orderBy:'-score'">
          			<td> {{ iapd.Info['@firstNm'] }} </td>  
          			<td> {{ iapd.Info['@lastNm'] }} </td>  
          			<td> {{ iapd.score }} </td> 
        		</td>
      		</tr>
  		</tbody>
  	</table>  
  </div>
</div>
